<nav class="navbar bg-body-tertiary fixed-bottom">
  <div class="container-fluid">
    <span class="navbar-text text-center w-100">
      © {{ "now"|date("Y") }} <a href="https://hdevelop.de" target="_blank">hdevelop</a>
    </span>
  </div>
</nav>